@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    outline: none;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
   width: 10px;
   background-color: #0D6F73 ; 
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #0D6F73;
    font-family: 'Lato', sans-serif;
}

main{
    max-width: 550px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCF3E3;
    margin: 25px 0px 25px 0px;
    border-radius: 10px;
}

#msgAtualiza{
    text-align: center;
    background-color: #80e6e9;
    color: #0d6f73;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    display: none;
}

.profile-container{
	text-align: center;
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 10px;
    background-color: #fcf3e3;
    
}

.profile-photo{
	width: 150px;
	border-radius: 50%;
	overflow: hidden;
    border: solid #0d6f73;
    
    aspect-ratio: 1 / 1;
}

.profile-photo img{
	width: 90%;
	height: 90%;
	object-fit: cover;
    
}

#open-modal:hover{
    opacity: 0.8;
}



.profile-name{
    font-family: system-ui;
	margin-top: 10px;
	font-size:18px;
	color:#0d6f73;
    
}

.campo-nome{
    height: 100px;
    padding-top: 15px;
    flex-grow: 2;
    
}



#open-modal-button {
  margin-right: 14px;
  display: flex;    
  align-items: center;
  justify-content: center;
  width: 48px; /* define tamanho fixo */
  height: 48px;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#open-modal-button i{
display: flex;    
color: #0D6F73;
font-size: 40px;  
    width: 100%;
    height: 100%;
}


.divTable{
    height: 250px;
    overflow-x: auto
}

.editarPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.gear{
    color: #0D6F73;
    font-size: 2em;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit;
}

.fa-pen-to-square {
    color: #0D6F73;
}

.fa-trash-can{
  color: rgb(213, 49, 49);
}

button#close-modal{
    padding: .6rem 1.2rem;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .9;
    font-size: 1rem;
    transition: 0.5s;    
}

#close-modal i {
    color: #c0392b;
    
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#fade, #modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}




#modal{
    position: fixed;
    background-color: #fcf3e3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 30px;
    border-radius: .5rem;

}

#olhoSenha{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    color: rgb(36, 35, 35);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;
}

.label-float input{
    color: black;
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom:2px solid rgb(98, 92, 92);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    gap: 5px;
    
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;

}

.label-float label{
    color: black;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}


.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: black;
}

#modal.hide,
#fade.hide{
    opacity: 0;
    pointer-events: none;
}




h4 {
  margin: 0;
  text-transform: uppercase;
}

.resume-container{
    padding: 2px 20px 2px 20px;
    width: 100%;
    
}

.inc-exp-container{
    background-color: transparent;
    display: flex;
   
    justify-content: space-between;
    margin: 20px 0;
}
.inc-exp-container>div{
    flex: 1;
    text-align: center;
    box-shadow: 0px 0px 5px #ccc;
    padding: 4%;
    width: 150px;
    border-radius: 10px;
}

.total {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  color: #2e75cc;
}

.total.incomes {
  color: #2ecc71;
 
}

.total.expenses {
  color: #c0392b;
 
}

.newItem{
    
    display: flex;
    align-items: end;
    width: 100%;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.newItem>div{
    display: flex;
    flex-direction: column;
}

.newItem>button{
    background-color: #0D6F73;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;

}

input, select {
    padding: 5px;
}

.divTable{
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
     border-collapse: collapse;
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
}


tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

thead tr th {
  padding: 2px;
  text-align: start;
  margin-bottom: 50px;
  border-left: black;
}

i{
    font-size: 25px;
}

.bxs-chevron-up{
    color: green;
}

.bxs-chevron-down{
    color: red;
}

.columnAction{
    width: 50px;
    text-align: center;
}

.columnAction>button{
    background: transparent;
    border: none;
}


.columnType{
    width: 80px;
    text-align: center;
}

.tabela-container{
  height: 100%;
  width: 100%;
  background: transparent; 
}



.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}



