*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    outline: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #0D6F73;
}

main{
    max-width: 550px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#0d6f73 ;
    margin: 25px 0px 25px 0px;
    border-radius: 10px;
}


.profile-container{
    text-align: center;
    justify-content: center;
	align-items: center;
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 10px;
    background-color: transparent;
    
}

.profile-photo{
	width: 130px;
	border-radius: 50%;
	overflow: hidden;
    border: solid black;
    margin-bottom: 10px;
    aspect-ratio: 1 / 1;
}

.profile-photo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
    
}


#menu-container{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    
   
}

.option-accordion{
    background-color: #fcf3e3;
    border:solid 5px #0D6F73;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.1) ;
    margin-bottom: 5px;
}

.accordion-header{
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;

}

.accordion-header span{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;

}

.accordion-body{
    display: none;
    font-size: 14px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
   
}


.accordion-body.active{

    height: 100%;
    opacity: 1;
    padding: 5px 0px;
}

.container{
    
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    
    
}

.label-float input{
    color: black;
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom:2px solid rgb(98, 92, 92);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
}

.label-float{
    width: 100%;
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;

}

.label-float label{
    color: black;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}


.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 13px;
    margin-top: 0;
    color: black;
}


#olho1, #olho2{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    color: rgb(36, 35, 35);
}

button{
    background-color: transparent;
    color: black;
    border: black 2px solid;
    border-radius: 4px;
    padding: 7px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12pt;
    outline: none;
    transition: all .4s ease-out;


}